# Ignore log archive directory
data/logs/log_archive

# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore environment files if you use them
.env

# Ignore DS_Store
.DS_Store

